&__comments {
    background-color: #254993;
    &__content {
        margin: 50px 0;
        
        &__logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            border: 1px solid rgba(255,255,255, .3);

            i {
                font-size: 1.3em;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            padding: 0 30px;
            &--text {
                color: #cfd5e3;
                font-size: .5em;
            }

            &--author {
                color: #8894ba;
                font-size: .4em;
                margin-bottom: 0;
            }
        }

        li {
            list-style: none;
        }


        .splide {
            color: #fff;
            font-size: 3em;
            &__track {
                &__list {
                    &__slide {


                    }
                }
            }

            
            
            .splide__arrow {
                position: relative;
                background-color: #254993;
                border: 1px solid rgba(255,255,255, .3);   
                border-radius: 0px;
                color: #fff;
                font-size: .6em;      
                transition: background-color 1s;          
            }

            .splide__arrow:hover {
                background-color: #fff;
                color: #254993;
            }

            .splide__arrow--next {
                position: absolute;
                top: 70%;
                left: 95%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
            .splide__arrow--prev{
                position: absolute;
                top: 20%;
                left: 95%;
                transform: translate(-50%,-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            
        }
        
        .splide__pagination__page {
            display: none;
        }
    }
}