.navbar {
    z-index: 20;

    .container {
        background-color: #254993;
    }

    .navbar-box {
        background-color: #fff;
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
        width: auto;

        .navbar-brand-box {

            i {
                font-size: 4em;
                color: #254993;
                margin-left: 40px;
            }
        
        .navbar-brand {
            // display: flex;
            // flex-direction: row;
            color: #254993;
            font-size: 1.4em;
            margin: 10px 30px 10px -10px;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 20px;

            .brand {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                // width: 30px;
                // height: 30px;
                background-color: #254993;
                color: #fff;
            }
        }
    }
    }

        
        
        .navbar-collapse {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .navbar-nav {
                margin-left: 50px;
                .nav-item {
                    .nav-link {
                    margin: 0 10px;
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.6em;
                }
            }
        }

        .search-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 30px;

            i {
                font-size: 1.6em;
                cursor: pointer;
            }

            input {
                background-color: transparent;
                border: none;
                font-size: 1.3em;
                color: #fff;
                margin-right: 10px;
                width: 65%;
            }

            ::placeholder {
                color: #536aa0;
            }
        }
    }
}
