&__testimonitals {
    position: relative;
    background-image: url('https://cdn.pixabay.com/photo/2017/08/10/01/15/surveillance-2616771_1280.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 1;
    &__content {
        margin: 50px 0;
        z-index: 6;

        &__text {
            &--head {
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 2.6em;
                margin: 10px 0;
            }

            &--text {
                font-size: 1.2em;
                color: #b6b6b6;
                padding-right: 20px;
            }
        }

        &__slider {
            z-index: 8;
            background-color: rgba(255,255,255, .2);
            
            &__img {
                position: relative;
                padding: 0;
                display: flex;
                flex-direction:row;
                align-items: end;
                img {
                    padding: 15px 0 0 15px;
                    width: 100%;
                    // height: 100%;
                }

                .socials {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    left: 100px;
                    position: absolute;
                    z-index: 100;

                    i {
                        background-color: #254993;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        font-size: 1.6em;
                        color: #fff;
                    }
                }
            }
            
            &__icon {
                padding: 15px;
                i {
                    margin-top: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                    width: 35px;
                    border: 1px solid rgba(255,255,255, .7);
                    border-radius: 50%;
                    font-size: 1.6em;
                }
            }
            
            &__text {
                padding: 15px;
                color: #fff;
                font-size: 1.4em;
                
                .div-separator {
                    margin: 15px 0;
                    hr {
                        height: 1px;
                        background-color: #fff;
                        width: 40px;
                    }
                }

                &__info {
                    padding: 15px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &--person {
                        font-weight: bold;
                        color: #fff;
                        text-transform: uppercase;
                        margin-right: 10px;
                    }

                    &--position {
                    }
                }
            }

            .testimonital-btn {
                    width: 50px;
                    margin-left: 10px;
                    background-color: #254993;
                    font-size: 1.4em;
                    
                    i {
                        color: #fff;
                    }
            }

            
        }

    }
}